h1,
h2,
.boxImage {
  text-align: center;
}

select {
  width: 300px;
  font-size: 2em;
}

.h2Clicks {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 2.5em;
}

.image:hover {
  cursor: pointer;
}

.image {
 max-width: 100%;
}
